body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: 'Lobster';
	text-align: center;
	color: #242424;
}

.title {
	flex: 0 0 auto;
	font-size: 3.2rem;
	margin: 20px 0;
}

.title::first-letter {
    color :orangered;
}

td {
    border: 4px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.cell {
	color :orangered;
}


.actions {
	flex: 0 0 auto;
	margin: 20px 0;
}

button {
    top : 440px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
	font-size: 2.5rem;
	background-color: #C3C2C2;
	color: #181818;
	border-radius: 20px;
	border: none;
	cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background:orangered;
    color :black;
}

.endgame {
    display: none;
    width: 200px;
    top : 540px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
    color: black;
    font-size: 2.5rem;
}

	
	